h1 {
    text-align: center;
}

.autor-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 3%;
    background: #e6e6e6;
    color: black;
}

.autor-header__title {
    height: 30%;
    width: 30%;
}

.autor-image {
    height: 40%;
    width: 40%;
    text-align: center;
}

.book-name {
    padding: 10px 0px;
}

.book-data {
    margin: 10px 10px;
}

.book-image {
    height: 40%;
    width: 40%;
    padding: 10 10px;
    min-width: 40%;
    min-height: 40%;
}