h1 {
    text-align: center;
}

.autor-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 3%;
    background: #e6e6e6;
    color: black;
}

.autor-header__title {
    height: 30%;
    width: 30%;
}