select {
    display: inline;
    border: 'none';
    background: 'transparent';
    outline: 'none';
}

.nav-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: transparent;
}

.nav-header__item {
    padding: 25px;
    margin: 0;
    color: #b0a1fb;
    text-decoration: none;
    transition-duration: .3s;
}

.nav-header__item:hover {
    background-color: #b0a1fb;
    color: white;
}
